<div id="responsavel">
  <div class="banner-content">
    <%= show_svg("pata.svg") %>
  </div>

  <main>
    <header>
      <div class="profile">
        <%= link_to "Sair", destroy_user_session_path, method: :delete %>
        <%= link_to "Voltar", "/" %>
      </div>
      <img src="https://th.bing.com/th/id/R11cffbc044ed6560dc1b441d3ac9aeed?rik=VPbSjpc4MP4OrQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fdownload_169259.png&ehk=nVhocnKFtnrJBqcKSAfc9%2bpLn%2fJh6mkTyFnQV7A110U%3d&risl=&pid=ImgRaw" alt="profile img">
    </header>

    <div>
      <h1>
        Responsáveis cadastrados
        <%= link_to new_responsavel_path, :class => "add-link" do %>
          <i class="large material-icons">add_circle</i>
        <% end %>
      </h1>

      <ul class="list">
        <% @responsavels.each do |responsavel| %>
          <%= render "responsavel_button", responsavel: responsavel %>

          <%= link_to edit_responsavel_path(responsavel), :class => "icons-link" do %>
            <i class="large material-icons">edit</i>
          <% end %>

          <%= link_to responsavel, method: :delete, remote: true, class: "icons-link" do %>
            <i class="large material-icons">delete</i>
          <% end %>
        <% end %>
      </ul>

    </div>

  </main>
</div>
