<%= form_with(model: veterinario) do |form| %>
  <% if veterinario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(veterinario.errors.count, "error") %> prohibited this veterinario from being saved:</h2>

      <ul>
        <% veterinario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :crmv %>
    <%= form.text_field :crmv, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :especialidade %>
    <%= form.text_field :especialidade, class: "form-control" %>
  </div>

  <%= form.fields_for :user do |user| %>
    <div class="form-group">
      <%= user.label :email %>
      <%= user.email_field :email, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= user.label :password %>
      <%= user.password_field :password, autocomplete: "new-password", class: "form-control"%>

      <small class="form-text text-muted">
        (Pelo menos <%= User.password_length.min %> caracteres)
      </small>

    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Criar veterinário", class: "btn btn-primary" %>
  </div>
<% end %>
