<%= form_with(model: veterinario, :class => "col-lg-10 p-0") do |form| %>
  <% if veterinario.errors.any? %>
    <div id="error_explanation">
      <h2 class="text-danger"><%= pluralize(veterinario.errors.count, "error") %> prohibited this veterinario from being saved:</h2>

      <ul>
        <% veterinario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :crmv %>
    <%= form.text_field :crmv, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :especialidade %>
    <%= form.text_field :especialidade, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :sexo %>
    <%= form.select(:sexo, ["Masculino", "Feminino", "Não informar"], {}, { :class => "form-control" }) %>
  </div>

  <div class="form-group">
    <%= form.label :data_nascimento %>
    <%= form.date_field :data_nascimento, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
