<div id="veterinario">
  <div class="banner-content">
    <%= show_svg("medico.svg") %>
  </div>

  <main>
    <header>
      <div class="profile">
        <%= link_to "Sair", destroy_user_session_path, method: :delete %>
        <%= link_to "Voltar", "/" %>
      </div>
      <img src="https://th.bing.com/th/id/R11cffbc044ed6560dc1b441d3ac9aeed?rik=VPbSjpc4MP4OrQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fdownload_169259.png&ehk=nVhocnKFtnrJBqcKSAfc9%2bpLn%2fJh6mkTyFnQV7A110U%3d&risl=&pid=ImgRaw" alt="profile img">
    </header>

    <div>
      <h1>
        Veterinários cadastrados
        <%= link_to new_veterinario_path, :class => "add-link" do %>
          <i class="large material-icons">add_circle</i>
        <% end %>

      </h1>

      <ul class="list">
        <% @veterinarios.each do |veterinario| %>
          <li class="list-item">
            <div class="list-button">
              <%= "Dr. " + veterinario.nome %>

              <div class="item-actions">
                <%= link_to veterinario do %>
                  <i class="large material-icons">remove_red_eye</i>
                <% end %>

                <%= link_to edit_veterinario_path(veterinario) do %>
                  <i class="material-icons">edit</i>
                <% end %>

                <%= link_to veterinario, method: :delete, remote: true do %>
                  <i class="material-icons">delete</i>
                <% end %>
              </div>
            </div>
          </li>
      <% end %>
      </ul>
    </div>
  </main>
</div>
