<%= form_with(model: animal, :class => "col-lg-9 p-0") do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
        <% animal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% if @animal.responsavel %>
      <%= form.hidden_field 'responsavel_id' %>
    <% else %>
      <%= form.label :responsavel_id %> <br/>
      <%= form.collection_select(:responsavel_id, Responsavel.order('nome'), :id, :nome, {:prompt => true}, :class => "form-control")%>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :especie %>
    <%= form.text_field :especie, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :raca %>
    <%= form.text_field :raca, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :complicacoes %>
    <%= form.text_field :complicacoes, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Data de nascimento" %>
    <%= form.date_field :data_nascimento, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :sexo %>
    <%= form.text_field :sexo, class: "form-control" %>
  </div>

  <button class="btn btn-success" type="submit">
    Salvar
  </button>
<% end %>
