<%= form_with(model: consultum, :class => "col-lg-9 p-0") do |form| %>
  <% if consultum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consultum.errors.count, "error") %> prohibited this consultum from being saved:</h2>

      <ul>
        <% consultum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% if @consultum.veterinario %>
      <%= form.hidden_field 'veterinario_id' %>
    <% else %>
      <%= form.label :veterinario_id %> <br/>
      <%= form.collection_select(:veterinario_id, Veterinario.order('nome'), :id, :nome, {:prompt => true}, class: "form-control") %>
    <% end %>
  </div>

  <div class="form-group">
    <% if @consultum.animal %>
      <%= form.hidden_field 'animal_id' %>
    <% else %>
      <%= form.label :animal_id %> <br/>
      <%= form.collection_select(:animal_id, Animal.order('nome'), :id, :nome, {:prompt => true}, class: "form-control") %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :data %>
    <%= form.date_field :data, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :hora %>
    <%= form.time_field :data, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :sintomas %>
    <%= form.text_field :sintomas, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :prescricao %>
    <%= form.text_field :prescricao, class: "form-control" %>
  </div>

  <div class="modal">

  </div>

  <button class="btn btn-danger" type="submit">
      Salvar
  </button>
<% end %>
